<div class="input-group autocomplete">
    <input type="text" class="form-control tb-pattern" placeholder="A-to-Z search...">
</div>

{{#each this}}
<div class="row country">
    <div class="col-sm-3 flag">
        <img src="{{flag}}" width="150" height="120" alt="flag" />
        <h4>Name: {{name}}</h4>
    </div>
    <div class="col-sm-4 country-info">
        <p>Capital: <b>{{capital}}</b></p>
        <p>Population: <b>{{population}}</b></p>
        <p>Currency: <b>{{currency}}</b></p>
        <p>Area: <b>{{area}} km<sup>2</sup></b></p>
        <p>Alpha Code: <b>{{alpha3Code}}</b></p>

    </div>
    <div class="col-sm-4 country-info">
        <p>Domain Name: <b>{{topLevelDomain}}</b></p>
        <p>Calling Code: <b>({{callingCodes}})</b></p>
        <p>Timezones: <b>{{timezones}}</b></p>
        <p>Region: <b>{{region}}</b></p>
        <p>Native Name: <b>{{nativeName}}</b></p>

    </div>
</div>
{{/each}}