<div class="col-sm-4">
    <div class="well">

        <img src="{{flag}}" width="50" height="50" alt="flag" />
        
        <p>NAME: {{name}}</p>
        <p>CAPITAL CITY: {{capital}}</p>
        <p>POPULATION: {{population}}</p>
        <p>CURRENCY: {{currency}}</p>
        <p>AREA: {{area}} km2</p>
    </div>
</div>